@using DarkRepos.Core.Models

<span class="badge badge-@GetPlatformClass()">@GetDisplayName()</span>

@code {
	[Parameter, EditorRequired]
	public Platform Platform { get; set; }

	[Parameter]
	public bool ShowFullName { get; set; } = false;

	private string GetPlatformClass() => Platform switch
	{
		Platform.NES => "nes",
		Platform.SNES => "snes",
		Platform.GB => "gb",
		Platform.GBC => "gbc",
		Platform.GBA => "gba",
		Platform.Genesis => "genesis",
		Platform.N64 => "n64",
		Platform.PlayStation => "ps1",
		Platform.MasterSystem => "sms",
		_ => "default"
	};

	private string GetDisplayName()
	{
		if (ShowFullName)
		{
			return Platform switch
			{
				Platform.NES => "Nintendo Entertainment System",
				Platform.SNES => "Super Nintendo",
				Platform.GB => "Game Boy",
				Platform.GBC => "Game Boy Color",
				Platform.GBA => "Game Boy Advance",
				Platform.Genesis => "Sega Genesis",
				Platform.N64 => "Nintendo 64",
				Platform.PlayStation => "PlayStation",
				Platform.MasterSystem => "Sega Master System",
				_ => Platform.ToString()
			};
		}
		return Platform switch
		{
			Platform.NES => "NES",
			Platform.SNES => "SNES",
			Platform.GB => "GB",
			Platform.GBC => "GBC",
			Platform.GBA => "GBA",
			Platform.Genesis => "GEN",
			Platform.N64 => "N64",
			Platform.PlayStation => "PS1",
			Platform.MasterSystem => "SMS",
			_ => Platform.ToString()
		};
	}
}