@namespace DarkRepos.Web.Components.Shared

<span class="tooltip-wrapper" tabindex="0">
	@ChildContent
	<span class="tooltip @Position.ToString().ToLowerInvariant()" role="tooltip">
		@Text
	</span>
</span>

@code {
	[Parameter, EditorRequired]
	public string Text { get; set; } = string.Empty;

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public TooltipPosition Position { get; set; } = TooltipPosition.Top;

	public enum TooltipPosition {
		Top,
		Bottom,
		Left,
		Right
	}
}
